tools/ftl/schema/clocks/clocktree.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="clocktree" type="clocktreeType">
      <xs:key name="clockPointKey">
        <xs:selector xpath="sources/source | clocks/clock"></xs:selector>
        <xs:field xpath="@point"></xs:field>
      </xs:key>
      <xs:key name="stateNameKey">
        <xs:selector xpath="settings/states/state"></xs:selector>
        <xs:field xpath="@name"></xs:field>
      </xs:key>
      <xs:key name="definitionNameKey">
        <xs:selector xpath="settings/definitions/define"></xs:selector>
        <xs:field xpath="@name"></xs:field>
      </xs:key>
      <xs:key name="derivedConfigNameKey">
        <xs:selector xpath="settings/derived-configs/derived-config"></xs:selector>
        <xs:field xpath="@name"></xs:field>
      </xs:key>
      <xs:key name="enumNameKey">
        <xs:selector xpath="settings/enums/enum"></xs:selector>
        <xs:field xpath="@name"></xs:field>
      </xs:key>
      <xs:key name="limitNameKey">
        <xs:selector xpath="settings/limit-set/limit"></xs:selector>
        <xs:field xpath="@name"></xs:field>
      </xs:key>
      <xs:key name="stateValuesStateKey">
        <xs:selector xpath="settings/limit-values/state-values"></xs:selector>
        <xs:field xpath="@state"></xs:field>
      </xs:key>
      <xs:keyref name="stateValuesStateRef" refer="stateNameKey">
        <xs:selector xpath="settings/limit-values/state-values"></xs:selector>
        <xs:field xpath="@state"></xs:field>
      </xs:keyref>
      <xs:keyref name="clockLimitRef" refer="limitNameKey">
        <xs:selector xpath="sources/source/limits | clocks/clock/limits"></xs:selector>
        <xs:field xpath="@ref"></xs:field>
      </xs:keyref>
      <xs:keyref name="stateLimitRef" refer="limitNameKey">
        <xs:selector xpath="settings/limit-values/state-values/limit"></xs:selector>
        <xs:field xpath="@name"></xs:field>
      </xs:keyref>
      <xs:keyref name="sinkInputRef" refer="clockPointKey">
        <xs:selector xpath="sinks/sink"></xs:selector>
        <xs:field xpath="@input"></xs:field>
      </xs:keyref>
      <xs:keyref name="sinkLimitRef" refer="limitNameKey">
        <xs:selector xpath="sinks/sink/limits"></xs:selector>
        <xs:field xpath="@ref"></xs:field>
      </xs:keyref>
    </xs:element>
    
    <xs:complexType name="clocktreeType">
      <xs:sequence>
            <xs:element name="settings" type="settingsType" maxOccurs="1" minOccurs="1"></xs:element>
        <xs:element name="sources" type="sourcesType" maxOccurs="1"
          minOccurs="0">
        </xs:element>
            <xs:element name="clocks" type="clocksType" maxOccurs="1"
          minOccurs="1">
        </xs:element>
        <xs:element name="sinks" type="sinksType" maxOccurs="1"
          minOccurs="0">
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sourcesType">
      <xs:sequence>
        <xs:element name="source" type="sourcePointType" maxOccurs="unbounded"
          minOccurs="1">
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="clocksType">
      <xs:sequence>
        <xs:element name="clock" type="clockType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sinksType">
      <xs:sequence>
        <xs:element name="sink" type="sinkType" maxOccurs="unbounded"
          minOccurs="1">
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sinkType">
      <xs:sequence>
        <xs:element name="description" type="xs:string" maxOccurs="1"
          minOccurs="0">
        </xs:element>
        <xs:element name="limits" type="clockLimitType" maxOccurs="1"
          minOccurs="0">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="input" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="condition" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
    

    <xs:complexType name="sourcePointType">
      <xs:sequence>
        <xs:element name="description" type="xs:string" maxOccurs="1"
          minOccurs="1">
        </xs:element>
        <xs:element name="bits" type="boolBitsType" maxOccurs="unbounded"
          minOccurs="0">
        </xs:element>
        <xs:element name="limits" type="clockLimitType" maxOccurs="1"
          minOccurs="0">
        </xs:element>
        <xs:element name="frequencies" type="frequenciesType" maxOccurs="1"
          minOccurs="0">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="point" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="enable" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="always"></xs:enumeration>
            <xs:enumeration value="manual"></xs:enumeration>
            <xs:enumeration value="auto"></xs:enumeration>
            <xs:enumeration value="never"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="default" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="TRUE"></xs:enumeration>
            <xs:enumeration value="FALSE"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dynamic" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"></xs:enumeration>
            <xs:enumeration value="no"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="private" use="optional" default="false">
        <xs:annotation>
          <xs:documentation>
            Clock point is internal to the generated clock tree and is not
            exported as a public runtime clock point.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"></xs:enumeration>
            <xs:enumeration value="false"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="frequency" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="clockType">
      <xs:sequence>
        <xs:element name="description" type="xs:string" maxOccurs="1"
          minOccurs="1">
        </xs:element>
        <xs:element name="bits" type="boolBitsType" maxOccurs="unbounded"
          minOccurs="0">
        </xs:element>
        <xs:element name="limits" type="clockLimitType" maxOccurs="1"
          minOccurs="0">
        </xs:element>
        <xs:choice maxOccurs="1" minOccurs="1">
          <xs:element name="derived" type="derivedType" maxOccurs="1"
            minOccurs="1">
          </xs:element>
          <xs:element name="mux" type="muxType" maxOccurs="1" minOccurs="1"></xs:element>
          <xs:element name="divider" type="dividerType" maxOccurs="1"
            minOccurs="1">
          </xs:element>
          <xs:element name="multiplier" type="multiplierType" maxOccurs="1"
            minOccurs="1">
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="point" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="enable" use="required">
        <xs:annotation>
          <xs:documentation>
            Clock point enable policy.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="never"></xs:enumeration>
            <xs:enumeration value="manual"></xs:enumeration>
            <xs:enumeration value="auto"></xs:enumeration>
            <xs:enumeration value="always"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="default" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="TRUE"></xs:enumeration>
            <xs:enumeration value="FALSE"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dynamic" use="required">
        <xs:annotation>
          <xs:documentation>
            Clock point is part of the runtime-switchable dynamic set.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"></xs:enumeration>
            <xs:enumeration value="no"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="private" use="optional" default="false">
        <xs:annotation>
          <xs:documentation>
            Clock point is internal to the generated clock tree and is not
            exported as a public runtime clock point.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="true"></xs:enumeration>
            <xs:enumeration value="false"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="derivedType">
      <xs:sequence>
        <xs:element name="frequencies" type="frequenciesType" maxOccurs="1"
          minOccurs="0">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="frequency" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="input" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="frequenciesType">
      <xs:choice maxOccurs="1" minOccurs="1">
        <xs:sequence>
          <xs:element name="case" type="frequencyCaseType"
            maxOccurs="unbounded" minOccurs="0">
          </xs:element>
          <xs:element name="default" type="frequencyDefaultType" maxOccurs="1"
            minOccurs="1">
          </xs:element>
        </xs:sequence>
        <xs:element name="select" type="conditionalValueSelectType"
          maxOccurs="1" minOccurs="1">
        </xs:element>
      </xs:choice>
    </xs:complexType>

    <xs:complexType name="conditionalValueSelectType">
      <xs:sequence>
        <xs:element name="when" type="conditionalValueWhenType"
          maxOccurs="unbounded" minOccurs="1">
        </xs:element>
        <xs:element name="otherwise" type="conditionalValueOtherwiseType"
          maxOccurs="1" minOccurs="1">
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="conditionalValueWhenType">
      <xs:sequence>
        <xs:element name="bits" type="valueBitsType" maxOccurs="unbounded"
          minOccurs="0">
        </xs:element>
        <xs:element name="select" type="conditionalValueSelectType"
          maxOccurs="1" minOccurs="0">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="condition" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="conditionalValueOtherwiseType">
      <xs:sequence>
        <xs:element name="bits" type="valueBitsType" maxOccurs="unbounded"
          minOccurs="0">
        </xs:element>
        <xs:element name="select" type="conditionalValueSelectType"
          maxOccurs="1" minOccurs="0">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="value" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="frequencyCaseType">
      <xs:sequence>
        <xs:element name="bits" type="valueBitsType" maxOccurs="unbounded"
          minOccurs="0">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="when" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="frequencyDefaultType">
      <xs:sequence>
        <xs:element name="bits" type="valueBitsType" maxOccurs="unbounded"
          minOccurs="0">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="muxType">
      <xs:choice maxOccurs="unbounded" minOccurs="1">
        <xs:element name="input" type="inputType" maxOccurs="1"
          minOccurs="1">
        </xs:element>
        <xs:element name="inactive" type="inactiveMuxType" maxOccurs="1"
          minOccurs="1">
        </xs:element>
      </xs:choice>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="field" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="offset" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="(0|[1-9][0-9]*)(U|UL)?"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="setting" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="inactiveMuxType">
      <xs:attribute name="value" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="bits" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="label" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="when" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="dividerType">
      <xs:choice maxOccurs="1" minOccurs="1">
        <xs:element name="value" type="valueType" maxOccurs="1" minOccurs="1"></xs:element>
        <xs:element name="set" type="setType" maxOccurs="1" minOccurs="1"></xs:element>
        <xs:element name="choices" type="choicesType" maxOccurs="1" minOccurs="1"></xs:element>
      </xs:choice>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="input" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="field" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="offset" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="(0|[1-9][0-9]*)(U|UL)?"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="setting" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="multiplierType">
      <xs:choice maxOccurs="1" minOccurs="1">
        <xs:element name="value" type="valueType" maxOccurs="1" minOccurs="1"></xs:element>
        <xs:element name="set" type="setType" maxOccurs="1" minOccurs="1"></xs:element>
        <xs:element name="choices" type="choicesType" maxOccurs="1" minOccurs="1"></xs:element>
      </xs:choice>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="input" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="field" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="offset" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="(0|[1-9][0-9]*)(U|UL)?"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="setting" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="inputType">
      <xs:sequence>
        <xs:element name="bits" type="valueBitsType" maxOccurs="1"
          minOccurs="0">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="point" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="default" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"></xs:enumeration>
            <xs:enumeration value="no"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="encoding" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="(0|[1-9][0-9]*|0[xX][0-9A-Fa-f]+)(U|UL)?"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="label" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="namesType"></xs:complexType>

    <xs:complexType name="valueBitsType">
      <xs:attribute name="target" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mask" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="boolBitsType">
      <xs:attribute name="target" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="enabled" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="disabled" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mask" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="clockLimitType">
      <xs:attribute name="ref" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="limitType">
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="min" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"></xs:enumeration>
            <xs:enumeration value="no"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="max" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"></xs:enumeration>
            <xs:enumeration value="no"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="stateLimitValueType">
      <xs:choice maxOccurs="1" minOccurs="0">
        <xs:sequence>
          <xs:element name="case" type="conditionalLimitCaseType"
            maxOccurs="unbounded" minOccurs="0">
          </xs:element>
          <xs:element name="default" type="limitDefaultValueType" maxOccurs="1"
            minOccurs="1">
          </xs:element>
        </xs:sequence>
      </xs:choice>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="min" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="max" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="conditionalLimitCaseType">
      <xs:attribute name="when" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="min" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="max" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="limitDefaultValueType">
      <xs:attribute name="min" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="max" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="valueType">
      <xs:sequence>
        <xs:element name="bits" type="valueBitsType" maxOccurs="1"
          minOccurs="1">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="min">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)"></xs:pattern>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="max">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="default">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)"></xs:pattern>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="setType">
      <xs:sequence>
        <xs:element name="bits" type="valueBitsType" maxOccurs="1"
          minOccurs="1">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="values">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*)([ ,](0|[1-9][0-9]*))*"/>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="default">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*)"></xs:pattern>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="choicesType">
      <xs:sequence>
        <xs:element name="choice" type="choiceType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
      <xs:attribute name="default">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)"></xs:pattern>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="choiceType">
      <xs:sequence>
        <xs:element name="bits" type="valueBitsType" maxOccurs="1"
          minOccurs="0">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="item" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="0|[1-9][0-9]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="encoding" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="(0|[1-9][0-9]*|0[xX][0-9A-Fa-f]+)(U|UL)?"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="settingsType">
      <xs:sequence>
        <xs:element name="prefixes" type="prefixesType" maxOccurs="1"
          minOccurs="1">
        </xs:element>
        <xs:element name="suffixes" type="suffixesType" maxOccurs="1" minOccurs="1"></xs:element>
        <xs:element name="enums" type="enumsType" maxOccurs="1" minOccurs="0"></xs:element>
        <xs:element name="definitions" type="definitionsType" maxOccurs="1" minOccurs="0"></xs:element>
        <xs:element name="configs" type="configsType" maxOccurs="1" minOccurs="1"></xs:element>
        <xs:element name="derived-configs" type="derivedConfigsType" maxOccurs="1" minOccurs="0"></xs:element>
        <xs:element name="states" type="statesType" maxOccurs="1" minOccurs="0"></xs:element>
        <xs:element name="limit-set" type="limitSetType" maxOccurs="1" minOccurs="0"></xs:element>
        <xs:element name="limit-values" type="limitValuesType" maxOccurs="1" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="enumsType">
      <xs:sequence>
        <xs:element name="enum" type="enumType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="enumType">
      <xs:sequence>
        <xs:element name="item" type="enumItemType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="field" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="enumItemType">
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="definitionsType">
      <xs:sequence>
        <xs:element name="define" type="definitionType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="definitionType">
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*(\([A-Za-z_][A-Za-z0-9_]*\))?"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="configsType">
      <xs:sequence>
        <xs:element name="config" type="configType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="derivedConfigsType">
      <xs:sequence>
        <xs:element name="derived-config" type="derivedConfigType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="derivedConfigType">
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="expression"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="configType">
      <xs:sequence>
        <xs:element name="description" type="xs:string" maxOccurs="1"
          minOccurs="1">
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="bool"></xs:enumeration>
            <xs:enumeration value="value"></xs:enumeration>
            <xs:enumeration value="set"></xs:enumeration>
            <xs:enumeration value="raw"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="default" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="role" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="dynamic_mode"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="min" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)"></xs:pattern>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="max" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)"></xs:pattern>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="values" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*)([ ,](0|[1-9][0-9]*|[A-Za-z_][A-Za-z0-9_]*))*"/>
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="statesType">
      <xs:sequence>
        <xs:element name="state" type="stateType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="stateType">
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="when" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="limitSetType">
      <xs:sequence>
        <xs:element name="limit" type="limitType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="limitValuesType">
      <xs:sequence>
        <xs:element name="state-values" type="stateValuesType" maxOccurs="unbounded" minOccurs="1">
          <xs:key name="stateValueLimitNameKey">
            <xs:selector xpath="limit"></xs:selector>
            <xs:field xpath="@name"></xs:field>
          </xs:key>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="stateValuesType">
      <xs:sequence>
        <xs:element name="limit" type="stateLimitValueType" maxOccurs="unbounded" minOccurs="1"></xs:element>
      </xs:sequence>
      <xs:attribute name="state" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="prefixesType">
      <xs:attribute name="clock_points" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
            <xs:maxLength value="12"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="macros" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
            <xs:maxLength value="12"></xs:maxLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="cfgs" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="12"></xs:maxLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="suffixesType">
      <xs:attribute name="frequency" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
            <xs:maxLength value="8"></xs:maxLength>
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="clock" use="optional" default="_CLOCK">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
            <xs:maxLength value="8"></xs:maxLength>
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nominal" use="optional" default="_SOURCE_FREQ">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
            <xs:maxLength value="16"></xs:maxLength>
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="values" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
            <xs:maxLength value="8"></xs:maxLength>
            <xs:minLength value="1"></xs:minLength>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="bits" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="8"></xs:maxLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="selector" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="8"></xs:maxLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="enable" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="8"></xs:maxLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="enabled" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"></xs:minLength>
            <xs:maxLength value="8"></xs:maxLength>
            <xs:whiteSpace value="collapse"></xs:whiteSpace>
            <xs:pattern value="[A-Za-z_][A-Za-z0-9_]*"></xs:pattern>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
</xs:schema>
